.about {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    
    
  }
  @media (max-width: 768px) {
    .about {
      margin-top: 3rem;
    }
  }
  .Companylogo {
    display:flex;
    justify-content: center; 
    align-items: center; 


   
  }

  @media (max-width: 768px) {
  .Companylogo {
   width:65%;
  }
   
  }
  
  .logo img {

  }
  
  
  .text {
    margin-left: 10rem;
    margin-top: 18rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    height: 100%;
    margin-right: 5rem;
    box-shadow: 10px 10px 10px;
  }
  
  .text p {
    color: black;
    font-size: 1.3rem;
  }
  
  @media (max-width: 768px) {
    .text {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      background-color:rgb(56, 236, 227) ;
    }
  }
  
  .Every-thing-about-JourneyStart {
    height: 15rem;
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  
  .intro-video {
    background-color: rgb(255, 255, 255);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-top: 5rem;
   
   
  }
  .intro-video iframe{
    border-radius: 3px;
    box-shadow: 10px 10px 10px;
  }

  
  @media (max-width: 768px) {
    .intro-video {
      height: 14vh; /* Adjust the height for mobile screens */
      margin-top: 2rem; /* Adjust the margin-top for mobile screens */
      padding-top: 0.5rem;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
  .intro-video iframe{
    height: 170%;
    width: 85%;
  }
}
  